[Unit]
Description=Gearmand distributed job system
After=syslog.target network.target

[Service]
User=gearmand
Type=forking
ExecStart=/usr/sbin/gearmand -d --log-file none --syslog

[Install]
WantedBy=multi-user.target
